body {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  min-width: 320px;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1870px;
  margin: 0 auto;
  padding: 0 50px;
  margin-bottom: 100px;
}

@media (max-width: 440px) {
  .container {
    padding: 0 20px;
  }
}

.heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 24px;
    line-height: 29px;
  }
}

.button {
  padding: 25px 37px;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  background-color: #ff9900;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 520px) {
  .button {
    padding: 16px 28px;
    font-size: 12px;
    line-height: 15px;
  }
}

.button:hover, .button:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.button:active {
  background-color: #e1670e;
}

.header {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__icon {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  z-index: 5;
}

@media (max-width: 1024px) {
  .header__icon {
    display: block;
    position: relative;
    margin: 0 20px 0 0;
    width: 30px;
    height: 23px;
    overflow: hidden;
    cursor: pointer;
  }
  .header__icon span, .header__icon::before, .header__icon::after {
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__icon::before, .header__icon::after {
    content: "";
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }
  .header__icon:focus span::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -5px;
    width: 40px;
    height: 33px;
    border: 2px solid #ff9900;
  }
  .header__icon._active span, .header__icon._active::before, .header__icon._active::after {
    background-color: #e1670e;
  }
  .header__icon._active span {
    -webkit-transform: translate(5px, -1px);
            transform: translate(5px, -1px);
  }
  .header__icon._active::after {
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
  }
  .header__icon._active:focus span::before {
    content: "";
    display: none;
  }
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .header__container {
    min-height: 69px;
  }
}

.header__logo {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .header__logo {
    width: 150px;
    height: 48px;
  }
}

@media (max-width: 440px) {
  .header__logo {
    width: 110px;
    height: 35px;
  }
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 65px;
}

@media (max-width: 1300px) {
  .header__main {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 2;
  }
  .header__nav._active {
    left: 0;
  }
  .header__nav._active .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav._active .header__list-item {
    color: #ff9900;
    border: none;
    font-size: 40px;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 85px;
}

@media (max-width: 1300px) {
  .header__list {
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__list li {
  position: relative;
}

.header__list-item {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 1025px) {
  .header__list-item:hover::before, .header__list-item:active::before, .header__list-item._active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff9900;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  .header__list-item:focus {
    outline: 2px solid #ff9900;
  }
  .header__list-item._active, .header__list-item:active {
    color: #e1670e;
  }
  .header__list-item._active::before, .header__list-item:active::before {
    background-color: #e1670e;
  }
}

.header__search {
  margin-right: -20px;
}

.header__search:hover {
  cursor: pointer;
}

.search {
  position: relative;
  padding: 20px;
}

.search:focus .search__container::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 32px;
  height: 32px;
  border: 2px solid #ff9900;
}

.search:hover .search__icon {
  fill: #ff9900;
}

.search__icon {
  height: 24px;
  width: 24px;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper {
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.4);
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .hero__container {
    margin-bottom: 60px;
  }
}

.hero__wraper {
  width: 100%;
  padding: 100px 80px;
}

@media (max-width: 1100px) {
  .hero__wraper {
    padding: 160px 75px;
  }
}

@media (max-width: 770px) {
  .hero__wraper {
    padding: 160px 40px;
  }
}

@media (max-width: 520px) {
  .hero__wraper {
    padding: 60px 22px;
  }
}

.hero__wraper-1 {
  background: url(/img/slider1.jpg) 0 0/auto 100% no-repeat;
}

.hero__wraper-2 {
  background: url(/img/slider2.jpg) 0 0/auto 100% no-repeat;
}

.hero__wraper-3 {
  background: url(/img/slider3.jpg) 0 0/auto 100% no-repeat;
}

.hero__main-area {
  max-width: 837px;
}

@media (max-width: 1100px) {
  .hero__main-area {
    max-width: 770px;
  }
}

@media (max-width: 520px) {
  .hero__main-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__heading {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #ffffff;
  margin-bottom: 24px;
}

@media (max-width: 1100px) {
  .hero__heading {
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }
}

@media (max-width: 770px) {
  .hero__heading {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 32px;
  }
}

@media (max-width: 520px) {
  .hero__heading {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
    text-align: center;
  }
}

@media (max-width: 380px) {
  .hero__heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 6px;
  }
}

.hero__text {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 90px;
}

@media (max-width: 1100px) {
  .hero__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }
}

@media (max-width: 770px) {
  .hero__text {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 520px) {
  .hero__text {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
    text-align: center;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

@media (max-width: 1350px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .about__container {
    gap: 8px;
    margin-bottom: 60px;
  }
}

.about__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.about__heading {
  margin-bottom: 20px;
}

.about__text {
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 18px;
}

@media (max-width: 768px) {
  .about__text {
    margin: 0;
  }
}

.about__middle {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  position: relative;
}

@media (max-width: 1350px) {
  .about__middle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 640px;
            flex: 0 0 640px;
  }
}

@media (max-width: 768px) {
  .about__middle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.about__img {
  height: 100%;
  background: url(/img/about1.jpg) center/cover no-repeat;
}

@media (max-width: 1350px) {
  .about__img {
    background: url(/img/about1.jpg) center/cover no-repeat;
  }
}

@media (max-width: 768px) {
  .about__img {
    height: 290px;
    margin-bottom: 8px;
  }
}

.about__img-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .about__img-description {
    position: relative;
    background: none;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    padding: 0;
  }
}

.about__img-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  max-width: 454px;
  margin-right: 50px;
}

@media (max-width: 768px) {
  .about__img-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
    margin: 0;
  }
}

.about__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 20px 38px;
  border: 3px solid #ff9900;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about__button:hover, .about__button:focus {
  background-color: #ff9900;
}

.about__button:active {
  background-color: #e1670e;
  border: 3px solid #e1670e;
}

@media (max-width: 768px) {
  .about__button {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    padding: 13px 41px;
    background-color: #ff9900;
  }
}

.about__button:hover, .about__button:focus {
  background-color: #f7b045;
  border: 3px solid #f7b045;
}

.about__button:active {
  background-color: #e1670e;
  border: 3px solid #e1670e;
}

.about__last {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

@media (min-width: 768px) {
  .about__section:first-child {
    margin-bottom: 32px;
  }
}

.about__section {
  padding: 65px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px solid #cacaca;
}

@media (max-width: 1024px) {
  .about__section {
    padding: 35px 40px;
  }
}

@media (max-width: 768px) {
  .about__section {
    padding: 15px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
}

.about__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 50px;
  width: 190px;
  height: 160px;
}

@media (max-width: 768px) {
  .about__icon {
    width: 64px;
    height: 49px;
    margin: 0;
  }
}

.about__end-section {
  max-width: 452px;
}

.about__last-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .about__last-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.about__last-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 768px) {
  .about__last-text {
    font-size: 14px;
    line-height: 28px;
  }
}

.how__heading {
  margin-bottom: 50px;
}

@media (max-width: 440px) {
  .how__heading {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .how__container {
    margin-bottom: 60px;
  }
}

.tabs__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 79px;
}

@media (max-width: 1000px) {
  .tabs__tabs {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
}

.tabs__btn {
  display: block;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background-color: #ffffff;
  margin-bottom: 45px;
  padding: 3px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tabs__btn:hover {
  color: #ff9900;
}

.tabs__btn:focus {
  outline: 2px solid #ff9900;
}

@media (max-width: 440px) {
  .tabs__btn {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
  }
}

.tabs__btn-active {
  color: #e1670e;
}

.tabs__content {
  display: none;
}

.tabs__content-active {
  display: block;
}

.tabs__content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1000px) {
  .tabs__content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.tabs__content-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  margin-right: 50px;
  max-width: 760px;
}

.tabs__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}

@media (max-width: 440px) {
  .tabs__heading {
    font-size: 18px;
    line-height: 32px;
  }
}

.tabs__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 50px;
}

@media (max-width: 1000px) {
  .tabs__description {
    margin-bottom: 25px;
  }
}

@media (max-width: 1000px) and (max-width: 440px) {
  .tabs__description {
    font-size: 14px;
    line-height: 28px;
  }
}

.tabs__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 32px;
}

@media (max-width: 440px) {
  .tabs__btns {
    gap: 10px;
  }
}

.tabs__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 20px 38px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ff9900;
}

.tabs__button:hover, .tabs__button:focus {
  background-color: #f7b045;
}

.tabs__button:active {
  background-color: #e1670e;
}

.tabs__button_white {
  border: 1px solid #333333;
  background-color: #ffffff;
  color: #333333;
}

.tabs__button_white:hover, .tabs__button_white:focus {
  background-color: #666666;
  color: #ffffff;
}

.tabs__button_white:active {
  background-color: #000000;
  color: #ffffff;
}

@media (max-width: 440px) {
  .tabs__button {
    font-size: 12px;
    line-height: 15px;
    padding: 11px 30px;
  }
}

.tabs__content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 48%;
          flex: 1 1 48%;
  max-width: 870px;
  width: 100%;
}

@media (max-width: 1000px) {
  .tabs__content-right {
    margin-bottom: 38px;
  }
}

@media (max-width: 440px) {
  .tabs__content-right {
    margin-bottom: 16px;
  }
}

.tabs__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq__heading {
  margin-bottom: 32px;
}

.accordion__item {
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.accordion__item:hover .accordion__icon,
.accordion__item:focus .accordion__icon {
  background-color: #ff9900;
}

.accordion__item:hover .accordion__icon::before,
.accordion__item:focus .accordion__icon::before,
.accordion__item:hover .accordion__icon::after,
.accordion__item:focus .accordion__icon::after {
  background-color: #ffffff;
}

.accordion__item:hover .accordion__title,
.accordion__item:focus .accordion__title {
  color: #ff9900;
}

.accordion__item:hover, .accordion__item:focus {
  border-color: #ff9900;
}

.accordion__control {
  height: 112px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

.accordion__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  padding-right: 40px;
  text-align: left;
}

@media (max-width: 768px) {
  .accordion__title {
    font-size: 14px;
    line-height: 24px;
  }
}

.accordion__icon {
  position: relative;
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ececec;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.accordion__icon::before, .accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #000;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.accordion__icon::after {
  height: 1px;
  width: 62%;
}

.accordion__icon::before {
  height: 62%;
  width: 1px;
}

@media (max-width: 768px) {
  .accordion__icon {
    height: 30px;
    width: 30px;
  }
}

.accordion__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 768px) {
  .accordion__content {
    font-size: 14px;
    line-height: 24px;
  }
}

.open .accordion__icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .accordion__content {
  opacity: 1;
  padding-bottom: 40px;
}

.footer {
  background-color: #222222;
}

.footer__container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@media (max-width: 980px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__left {
  min-width: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 40px;
}

@media (max-width: 1520px) {
  .footer__left {
    min-width: 0;
  }
}

@media (max-width: 600px) {
  .footer__left {
    margin-right: 0px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  width: 224px;
}

.footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 40px;
}

@media (max-width: 980px) {
  .footer__nav {
    display: none;
  }
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #cacaca;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 2px;
}

.footer__link:hover {
  color: #ff9900;
}

.footer__link:active {
  color: #e1670e;
}

.footer__link:focus {
  outline: 2px solid #ff9900;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.footer__icon-wrapper {
  position: relative;
}

.footer__button {
  background-color: #222222;
  padding: 3px;
}

.footer__button:focus {
  outline: 2px solid #ff9900;
}

.footer__icon {
  display: block;
  width: 60px;
  height: 60px;
  fill: #7c7c7c;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__icon:hover {
  fill: #ff9900;
  cursor: pointer;
}

.footer__icon:active {
  fill: #e1670e;
}

.footer__middle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
}

@media (max-width: 980px) {
  .footer__middle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 600px) {
  .footer__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__heading {
  margin-bottom: 25px;
  color: #cacaca;
}

.footer__right {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  max-width: 365px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1380px) {
  .footer__right {
    display: none;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.form__input {
  background-color: #414141;
  padding: 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.form__input:hover, .form__input:focus, .form__input:active {
  background-color: #666666;
}

.form__text {
  background-color: #414141;
  padding: 14px 24px;
}

.form__text {
  height: 150px;
}

.form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 680px) {
  .form__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__button {
  background-color: #ff9900;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 19px 52px;
  margin-right: 22px;
}

@media (max-width: 680px) {
  .form__button {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.form__check {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__check input {
  display: none;
}

.form__check {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__check span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  font-size: 16px;
  line-height: 18px;
  color: #cacaca;
}

.form__check span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
}

.form__check span::after {
  content: url(../img/vector.svg);
  position: absolute;
  left: 3px;
  top: -2px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.form__check input:checked + span::after {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
